aiohttp==3.8.3
py-cord[voice]==2.3.2
ffmpeg-python==0.2.0
google-api-python-client==2.70.0
yt-dlp==2022.11.11
tweepy==4.12.1
niconico.py==1.2.3
spotdl==4.0.6
Pillow==9.4.0
nltk==3.8
mecab-python3==1.0.6
unidic-lite==1.0.8
gdshortener==1.0.1
